@import './variablesPorto.scss';

#top-nav {
  height: 50px;
  background-color: $blue-porto;
  
  .t-nav-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .top-nav-title {
    font-size: 0.38em;
    color: #A2D4EC;
  }

  //Navbar top link menu
  .t-nav-li {
    margin-left: 11px;
    ul {
      display: flex;
      align-items: center;
      
      li {
        font-size: 0.7em;
        list-style: none;
        text-transform: uppercase;
        display: inline-block;

        a {
          text-decoration: none;
          color: #fff;
          padding: 10px 11px;
        }
      }
    }
  }
}