@import './variablesPorto.scss';

#top-nav {
  height: 50px;
  background-color: $blue-porto;

  .t-nav-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .top-nav-title {
    font-size: 0.47em;
    color: #A2D4EC;
  }

  //Navbar top link menu
  .t-nav-li {
    margin-left: 10px;
    ul {
      display: flex;
      align-items: center;
      
      li {
        font-size: 0.7em;
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 2px;

        a {
          text-decoration: none;
          color: #fff;
          padding: 10px 10px;
        }
      }
    }
  }

}

#logo-section {
    height: 130px;
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    
    img {
      width: 125px;
    }

}

#bottom-nav {

  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.78em;

    ul {
      li {
        display: inline-block;
        list-style: none;
        margin-right: 30px;      

        a {
          color: #333333;
          text-decoration: none;
          padding: 10px;
        }

        .pl-0 {
          padding-left: 0;
        }
      }

    }
  }

}